
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
}

.fa {
    font-size: 70px;
    color: #ccc;
}

.css {
    display: block;
}
.display {
    display: none;
}
.btn {
    position: absolute;
}

.slider {
    background-color: #ccc;
    width: 1000px;
    height: 500px;
    margin: auto;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.img {
    height: auto;
}

.js-img {
    width: 100%;
}

.btn-next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.btn-next :hover{
    color: aqua;
    transform: translateX(20px);
}

.btn-prev :hover {
    color: aqua;
    transform: translateX(-20px);
}

.btn-prev {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
}

.footer {
    display: flex;
    bottom: 5%;
    right: 50%;
    font-size: 20px;
    transform: translateX(50%);
}

.dot {
    color: white;
    margin: 8px;
}

.active {
    border-radius: 50%;
    background-color: white;
}